[submodule "app/_chencode"]
	path = app/_chencode
	url = https://github.com/jeefies/chencode.git
[submodule "app/_imdata"]
	path = app/_imdata
	url = git@github.com:jeefies/imdata.git
[submodule "_imdata/"]
	url = https://github.com/jeefies/imdata.git
