{% extends "code-base.html" %}

{% block title %}chencode{% endblock %}

{% block main %}
	<h1 class="layui-font-green">chencode 线上使用</h1>
	<form action="result" method="post" class="layui-form">
		<div class="layui-form-item">
				<textarea name="ctx" class="layui-textarea" id="content" required lay-verify="required" placeholder="在这里输入内容哦^_^" rows=15></textarea>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">
				方法
			</label>
			<div class="layui-input-block">
				<input type="radio" name="code" value="en" title="加密(encode)" checked>
				<input type="radio" name="code" value="de" title="解密(decode)">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="formDemo">处理数据</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
{% endblock main %}

{% block lastscript %}
layui.use(["form", "element"], function() {
	let element = layui.element;
			element.on('nav(demo)', function(elem){
		layer.msg(elem.text());
	});
})
{% endblock lastscript %}
