{% extends "code-base.html" %}

{% block title %}imdata{% endblock %}

{% block headscript %}
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
{% endblock %}

{% block style %}
{{ super()  }}
<style type="text/css" media="all">
.file-input {
   	padding: 4px 10px;
	height: 20px;
	line-height: 20px;
	position: relative;
	cursor: pointer;
	color: #888;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1
}
	
.file-input input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
   	filter: alpha(opacity=0);
	cursor: pointer
}
	
.file-input:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}

#uploadFileNameField {
   	padding: 4px 10px;
	height: 20px;
	line-height: 20px;
	position: relative;
	color: #888;
	display: inline-block;
	/* the most imp line */
	overflow: hidden;
}
</style>
{% endblock %}

{% block main %}
	<h1 class="layui-font-green">ImData线上api</h1>

	<fieldset class="layui-elem-field layui-field-title">
		<legend>加密数据</legend>
	</fieldset>

	<form class="layui-form" action='handle' method="POST" enctype="multipart/form-data">
		<input class="layui-hide" name="operation" value="encode" />
		<div class="layui-form-item">
			<label class="layui-form-label">数据类型</label>
			<div class="layui-input-block">
				<input type="radio" name="method" value=1 title="压缩数据" checked />
				<input type="radio" name="method" value=2 title="Chencode集成" />
				<!--
				<input class="layui-input" type="radio" name="method" value=1 title="压缩数据" checked />
				<input class="layui-input" type="radio" name="method" value=2 title="Chencode集成" />
				-->
			</div>
		</div>

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">数据</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea" name="ctx" rows="10" placeholder="请在这里输入内容哦^_^"></textarea>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">文件</label>
			<div class="layui-input-block">
				<div class="file-input">
					<input class="layui-input" type="file" name="file" value="上传文件" id="upFile">
					上传文件
					</input>
				</div>
				<div id="uploadFileNameField"></div>
			</div>
			<blockquote class="layui-elem-quote layui-quote-nm">
				上传了文件，就不会使用输入的数据了！
			</blockquote>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="submit" class="layui-btn" lay-submit lay-filter="form">获取加密图像</button>
				<button type="reset" class="layui-btn layui-btn-primary" id="resetBtn">重置</button>
			</div>
		</div>
	</form> <!-- layui-form end -->

	<fieldset class="layui-elem-field layui-field-title">
		<legend>解密数据</legend>
	</fieldset>

	<form class="layui-form" action='handle' method="POST" enctype="multipart/form-data">
		<input class="layui-hide" name="operation" value="decode" />
		<div class="layui-form-item">
			<label class="layui-form-label">文件</label>
			<div class="layui-input-block">
				<div class="file-input">
					<input class="layui-input" type="file" name="file" value="上传文件" id="upFile2">
					上传文件
					</input>
				</div>
				<div id="uploadFileNameField2"></div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="submit" class="layui-btn" lay-submit lay-filter="form">获取原数据</button>
				<button type="reset" class="layui-btn layui-btn-primary" id="resetBtn">重置</button>
			</div>
		</div>
	</form> <!-- layui-form end -->
{% endblock %}

{% block lastscript %}

$("#upFile").bind("change", function() {
	console.log("File Upload");
	let name = $("#upFile").prop("files")[0].name;
	$("#uploadFileNameField").html(name);
} )


$("#upFile2").bind("change", function() {
	console.log("File Upload");
	let name = $("#upFile2").prop("files")[0].name;
	$("#uploadFileNameField2").html(name);
} )

{% if message %}
let message = "{{ message }}";
let showMessage = true;
{% else %}
let message = "";
let showMessage = false;
{% endif %}

layui.use(["form", "element", "layer"], function() {
	let element = layui.element;
	let form = layui.form;
	let layer = layui.layer;
	if (showMessage) {
		layer.open({
			title: '错误',
			content: message,
			icon: 4,
			end: function() {
				location.replace(location.pathname);
			}
		})
		console.log("Open ok");
	}
})
{% endblock lastscript %}
