body {
	border: 0px;
	margin: 0px;
	font-family: 'bubblegum';
}

div.Content {
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}

nav.NavUp {
	background-color: black;
	font-size: 1.3vw;
}

@media (max-width: 1000px) {
	nav.NavUp {
		font-size: 1.8vw;
	}
}

@media (max-width: 800px) {
	nav.NavUp {
		font-size: 2.3vw;
	}
}

@media (max-width: 460px) {
	nav.NavUp {
		font-size: 2.5vw;
	}
}

nav.NavUp p {
	color: white;
	display: inline;
	margin: 1em;
	border: 0px;

	transition: font-size .3s;
}

nav.NavUp p.LeftMain {
	font-size: 2.4em;
	border-top: 1em;
	margin-left: 1em;
	margin-bottom: 0.2em;
	margin-right: 0px;
	display: inline;
	transition: font-size .3s;
}

div.Lefts {
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
}

div.Lefts p.Left {
	font-size: 1.8em;
	margin-right: 0em;
	display: inline;
}
