body {
	border: 0px;
	margin: 0px;
	font-family: 'bubblegum';
}

div.Content {
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}

nav.NavUp {
	background-color: black;
}

nav.NavUp p {
	color: white;
	display: inline;
	margin: 1em;
	border: 0px;
}

nav.NavUp p.LeftMain {
	font-size: 2.4rem;
	border-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 0.2rem;
	margin-right: 0px;
	display: inline;
}

div.Lefts {
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
}

div.Lefts p.Left {
	font-size: 1.8rem;
	margin-right: 0em;
	display: inline;
}
