p {
	color: black;
	font-size: 1.1em;
}

span.jump {
	color: blue;
	text-decoration: underline;
	border-bottom: 1px dotted black;
}

p.small {
	font-size: 0.9em;
	color: darkgray;
}

@keyframes increase_a {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes increase_a_tosix {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.6;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes hide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes hide_and_show {
	0% {opacity: 0.6;}
	50% {opacity: 0;}
	100% {opacity: 0.6;}
}

div.Pages {
	position: relative;
}

div.Page {
	position: absolute;
	opacity: 0;
	animation-duration: 1s;
	animation-delay: 0.5s;
}

#p1 {
	animation-name: increase_a;
}

div.NextPage {
	position: absolute;
	width: 5vh;
	height: 5vh;
	max-width: 50px;
	max-height: 50px;

	top: 47.5%;
	right: 2.5%;
	transition: background-color 1s;
	transition: top 1s;
	border-radius: 30px;
}

#right {
	animation-name: increase_a_tosix;
}

div.NextPage img {
	opacity: 0;
	max-width: 100%;
	animation-duration: 2s;
	animation-delay: 0.4s;
}

div.NextPage:hover {
	background-color: rgba(255, 0, 0, 0.3);
}
