div.Info {
	display: flex;
}

div.LInfo {
	width: 49%;
	margin-top: 0.5%;
	border: thick solid black;
}

div.RInfo {
	width: 49%;
	margin-top: 0.5%;
	border: thick solid black;
	margin-left: calc(2% - 4px);
}

div.LPart1 {
	border-bottom: 1px black;
	width: 100%;
	display: inline-flex;
}

div.LPart1 div.InfoLeft {
	display: inline-block;
	width: calc(49% - 4px);
	margin: 2px;
}

div.LPart1 div.InfoLeft img {
	max-width: 100%;
}

div.LPart1 div.InfoRight {
	display: inline-block;
	width: 49%;
	margin-left: 0.5%;
}

@media (max-width: 1000px) {
	div.Info {
		display: block;
	}
	div.LInfo {
		width: 98%;
		margin: 1%;
	}

	div.RInfo {
		width: 98%;
		margin: 1%;
		margin-top: 0;
	}
}
