<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Scroll Pages</title>
		
		<link rel="stylesheet" href="/static/css/learn/scrollPages.css" type="text/css" media="all" />
	</head>
	<body>
		<div class="MainPage">
			<a href="{{ url_for('.index') }}">Back To Main</a>
		</div>
		<div class="Imgs">
			<div class="Img">
				<img src="/static/images/png/planet1.png" alt="" />
			</div>
			<div class="Img" id="I2">
				<img src="/static/images/svg/shapes.svg" alt="" />
				<br />
				<a href="pagebtns">See more about changing page</a>
				<br />
				<a href="svgs">See more about svg image</a>
			</div>
			<div class="Img">
				<img src="/static/images/jpg/stars.jpg" alt="" />
			</div>
		</div>
	</body>
</html>
