<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>SVG Image Learn</title>
		
		<link rel="stylesheet" href="/static/css/learn/svgLearns.css" type="text/css" media="all" />
	</head>
	<body>
		<div class="Main">
			<div class="Line">
				<div class="Image">
					<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1">
						<rect x="10%" y="10%" width="80%" height="80%" stroke="black" fill="blue" stroke-width="2" />
					</svg>
				</div>
				<div class="Image">
					<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1">
						<ellipse cx="50%" cy="50%" rx="40%" ry="20%" stroke="black" fill="red" stroke-width="2" />
					</svg>
				</div>
				<div class="Image">
					<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1">
						<text x="5%" y="50%" font-weight="bold" text-anchor="start" text-decoration="underline">Hello SVG Image</text>
					</svg>
				</div>
				<div class="Image">

				</div>
				<div class="Image">
					
				</div>
			</div>
			<div class="Line">
				<div class="Image">
					
				</div>
			</div>
			<div class="Line">
				<div class="Image">
					
				</div>
			</div>
			<div class="Line">
				<div class="Image">
					
				</div>
			</div>
		</div>
	</body>
</html>
