{% extends "base.html" %}

{% block title %}更多的信息{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}" type="text/css" media="all" />
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/info.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="Content">
	<div class='Pages'>
		<div class="Page" id='p1'>
			实际上，这一页才是真心话
			原本的那一个，只是为了凑数罢了，给别人看
			本来很想写些什么，但是，
			落到笔头，便什么也没有了

			好吧，想改这个东西也不是一时的想法了
			我想起我最初的那个日记本，我永远也忘不了
			第一篇写的内容，名为“致吾之真”
			其实我也没有想到，我日记开始写，竟然是因为这个
			反正已经写了，我也没有撤回的余地
			
			我想起那篇文章，写完之后，我拿给她看，什么也没有回
			或许是不愿意看，或许也是没有看见
			那个时候的事情，我也懒得理会了
				
			后来，那个本子被fzq偷偷拿去，迫使我不得不换一个本子
			毕竟是第一个本子，还不知道什么应该写，什么不应该
			所以，你可以想象一下，里面写了些什么不可见人的东西
			不过，万幸的是，他们被困扰在第一篇，看不明白
			毕竟他们看的时候已经过了很长一段时间了
			
			说到这里，我想起上次让zly看我的qq消息记录
			我没想到还留这这么离谱的东西
			于是便有了传闻，周五，我骑着我的小破车，到她的家楼下
			我也是很久之后，从tjy口中了解到
			曾经我和zzx说过，我的确去过，但是，我相信他绝对不会说出
			可是，这件事，让我对zly彻底没有了好感
			虽然，xyx也是很大嘴，但，他至少会“主动”承认
			哎，算了吧，我还是很敬重陈果的
			zly毕竟也和陈果走的很近
			我懒得因“一己私欲”而波及无辜
		</div>
		<div class="Page" id='p2'>
			那时候，cjj还在，但是我的日记里却很少提及他
			我还记得有一次，我与cjj因为纪律问题发生了一些争执
			那时差点忍不住出手
			但是，后来更搞笑的是，最后是他妈到学校来，跟我道歉
			我依稀记得ML对此也是好气也好笑
			
			不提也罢

			第一个本子，我从2019.12.20写下第一篇，到2020.11.16写完最后一篇
			再看的时候，我才想起，初二开始，很对人都反对我学习编程
			或许是我那时确实太过了，经常熬夜，不睡觉
			但是，现在不一样了，他们啊，还是支持我的，ML也再没有因此被打扰过

			说道这里，我很想说，我妈经常在我睡的很晚后，跟卢老师请假，而且早上不喊我
			搞得我只能自己起床
			因此，我再也不相信我妈喊我起床了

			回归原主题，那个时候，用flask创建的网站就不止3个
			中途还改了好几次
			这个网站也是很艰难的从头被我写下来
			已经有至少10个月了吧

			我那时懂的东西其实很少，对电脑也不太理解
			但是，我就是“明智”地把我的树梅派给买了回来（初一升二暑假）
			然后一直用到了今天
			我还想起那个时候，我对linux系统一无所知，连软件源apt都不知道是个什么
			但是，我现在不止是会用debian系列，fedora，centos，manjaro我都有所狩猎
			确实，再看以前，我确实成长了很多
			我不再只是看着她，渴求着什么
			但现在，我明白了，缘，妙不可言，不可强求，不可强舍
		</div>
		<div class="Page" id="p3">
			在看第一本的结束的时候，我就惊奇的发现 (2020.11.8)
			我已经对[golang](https://golang.google.cn/)有所涉足
			当时，我已经接触到pydub，moviepy中之类的东西
			应该audacity也是那个时候了解到的吧

			在写这个的时候 (2021.12.14)
			ML又发了一个本子下来，因为半期考试，我班级第二
			我才发现，第一个，第二个，第三个本子都是我的老师发给我的
			只是第一个似乎是小学的语文黄夏下老师给的
			没关系，在看到新本子的时候
			第一眼觉得，哇，粉色的
			卢老师的品味是降低了吗？
			后来把封页一拆，哇，当时我就对cg戏言：
			“等我上高中，我天天拿着本子去上厕所”
			只是说完后想到，上了高中，她不就走了吗？
			哎，我觉得还是只有她一个人

			说到她，我想起有一次，化学陈俊蓉老师在一次午饭时对我说：
			“我也知道你的秘密哦”
			至今我还不知道是那位说的
			但是就算知道了，我也只能调侃一下：“瞎说什么大实话”
			^_^

			哦对，当时还有一个imdata，可以配合后来做的的chencode使用
			只可惜，我没有再用了。
			其实我可以把imdata集成到这里面的
			当然，到jeefy2里面也挺好
		</div>
		<div class="Page" id="p4">
			这就把第一本说完了，哎
			zzx至今还恋恋不忘这个本子，想要一探究竟
			只可惜，我最多可以给他看第一篇

			到第二本了
			又到了一个绕不开的主题：
			Start with my dream, end with my fear.
			当我写下这一句的时候，我记得Older这一首歌
			是那个时候影响我最深的

			序言是我在2020.12.30写的，一年的最后一天
			我依稀记得，那一天是周四还是周五，我们最后还开了一个PARTY
			似乎也不是那一次，6.1吗？不太可能
			我唱了Halo那首歌，只是可惜，我还没有记下歌词

			序言里，我解释了那个主题
			I'm filled with fear and full of it.
			Afraid of losing, and also having.
			或许是那个时候的陈果吧，影响了我
			让我写下了这么一段：
			"""
			当我再次动笔写下此句时(end with my fear)
			我已心里充满了恐惧。
			恐惧所有人，所有事。
			有张晓风之”不识“至亲，更有如今”不信“至亲
			我已不知不觉中对至亲的父母，敬爱的老师心有隔膜
			甚至可以说，几乎不信任
			(要说100%是生死相付，那么他们，或许只有五之一，半信半疑)
			可以说，我至今还没有遇见能够真心托付的人，纵使是陈(陈果)，张(张梁宇，张zx)之类
			我也知道，他们定也对我有所相瞒
			"""
			所以吧，我便定下了这个主旋律

			哎，这么一看才知道，这个本子信息量有点大
			几页怕是也写不完
			emmmm
		</div>
		<div class="Page" id="p5">
			行吧，原本我没有想着把所有东西一起写完
			现在又到了夜晚，我也看不清以前的本子写了个什么
			所以这里先不写

			其实我很是渴望表白
			我不曾一次想过能和她“暧昧”
			当然，我也明白，这是不可能的
			毕竟别人也很优秀，我也不只是唯一一个

			我突然想起有一次tjy莫名的发了一句
			“我懂，你要等到你的万分确定”
			虽说是莫名其妙，但是我也明白，这确实是我说过的话
			我的思想里，只有三种情况：不可能，有可能，有很大可能
			所以说，万分确定是不现实的
			人也会变，这无关乎个人
			所以，我的意思是，我可能永远也等不到那个万分确定了
			很可惜，这学期只有1个月不到的时间了
			这个学年也即将要结束了
			我想着在考完试后，“约”她陪我去一趟二仙桥公园，虽然在地图上看起来很小
			刚刚好也是在她生日后一点，所以......
			权当是迟来的礼物吧 :-)

			也是，12.17，就是今天，是zzx的生日
			我还记得，上一次tjy过生日，zzx就这么把她压在了墙上
			我其实很羡慕，很期待
			可是，我知道，我可没有这么温顺的“女朋友”

			但是，这么久了，我还是只爱着你，薛诗涵
		</div> <!-- p5 -->
		<div class="Page" id="p6">
			还记得那个时候，我还特别喜欢python
			还想着用它来写一些需要速度的东西
			结果，我也是醉了，Jdb，一直都没有什么进展
			最终只能放弃

			后来又为了jeefy2的网站写了一个jetar-gz，虽然可以用
			但是还是很不完整

			哦，当时我开始进入bili，我还记得我第一个系列就是在这个时期写的
			chencode，就是这个，现在似乎也可以用
			确实，只是我发现，我还没把他上传到pypi上，哎
		</div>
	</div> <!-- Pages -->
	<div class="NextPage" id='_nl'>
		<img src="/static/images/arrow_left.bmp" alt="ArrowLeft" id='left'/>
	</div>
	<div class="NextPage" id='_nr'>
		<img src="/static/images/arrow_right.bmp" alt="ArrowRight" id='right'/>
	</div>
</div>
{% endblock %}
