{% extends "base.html" %}

{% block title %}更多的信息{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}" type="text/css" media="all" />
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/info.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="Content">
	<div class='Pages'>
		<div class="Page" id='p1'>
			我现在只是一个初中生
			就读于四川省成都市锦江师大一中
			具体的年纪和班级就不说了,免得惹上什么大麻烦
			
			本来我是想直接把我的一些些照片传上来
			可是，我想到了几乎所以手机相机里都会在拍照的时候做一些小手脚
			具体的可以参考exif，多的我就不说了
			不过你要放心，这里的所有图片都是去除了exif的，别想多了
			
			我啊，喜欢编程，不然也不可能做这些东西
			顺便说说，这个网站托管在pythonanywhere之上，一个免费且可靠的网站
			我还是蛮喜欢的，还可以在线上编程运行
			有一些编程老手就应该会问:＂你有没有github帐号?＂
			我说啊，我不仅有[github](https://github.com/jeefies)帐号，[gitee](https://gitee.com/jeefy)也没有漏下
			我觉得我的得意之作就只有用各种不同的语言写出来的贪吃蛇了
			<del>不过我还是提醒一下，我的github帐号因为网络原因，已经有段时间没有使用了，所以</del>
			<del>gitee之上才有我的最新的更新，包括这个网站的源代码也在上面</del>
			有了自动安装clash的脚本，github被墙的问题也不复存在
			顺带一提，(https://jeefy2.pythonanywhere.com)[jeefy2.pythonanywhere.com]也是我的网站
			源代码也是在gitee之上，只是已经写了有段时间，所以github上也有
		</div>
		<div class="Page" id='p2'>
			说实话，要不是为了学习javascript,css,html和flask后端
			我是不可能做这些复杂的翻页动画的

			淦
			
			我本来不想这样，但是谁叫我遇到了这么一个人
			在她面前，我可是只能低头
			又有谁让她令我生出不可"冒犯"的念头？
		</div>
		<div class="Page" id='p3'>
			好吧，其实还有，分为三页主要是因为
			在最后一页，我有一些话，想和一些人说
			那就是
			我把原本我想说的删了, ^_^
		</div>
	</div> <!-- Pages -->
	<div class="NextPage" id='_nl'>
		<img src="/static/images/arrow_left.bmp" alt="ArrowLeft" id='left'/>
	</div>
	<div class="NextPage" id='_nr'>
		<img src="/static/images/arrow_right.bmp" alt="ArrowRight" id='right'/>
	</div>
</div>
{% endblock %}
