{% extends "base.html" %}

{% block title %}更多的信息{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}" type="text/css" media="all" />
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/info.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="Content">
	<div class='Pages'>
		<div class="Page" id='p1'>
			<p>实际上，这一页才是真心话</p>
			<p>原本的那一个，只是为了凑数罢了，给别人看</p>
			<p>本来很想写些什么，但是，</p>
			<p>落到笔头，便什么也没有了</p>

			<br />
			<p>好吧，想改这个东西也不是一时的想法了</p>
			<p>我想起我最初的那个日记本，我永远也忘不了</p>
			<p>第一篇写的内容，名为“致吾之真”</p>
			<p>其实我也没有想到，我日记开始写，竟然是因为这个</p>
			<p>反正已经写了，我也没有撤回的余地</p>
			<br />
			<p>我想起那篇文章，写完之后，我拿给她看，什么也没有回</p>
			<p>或许是不愿意看，或许也是没有看见</p>
			<p>那个时候的事情，我也懒得理会了</p>
			<br />	
			<p>后来，那个本子被fzq偷偷拿去，迫使我不得不换一个本子</p>
			<p>毕竟是第一个本子，还不知道什么应该写，什么不应该</p>
			<p>所以，你可以想象一下，里面写了些什么不可见人的东西</p>
			<p>不过，万幸的是，他们被困扰在第一篇，看不明白</p>
			<p>毕竟他们看的时候已经过了很长一段时间了</p>
			<br />
			<p>说到这里，我想起上次让zly看我的qq消息记录</p>
			<p>我没想到还留这这么离谱的东西</p>
			<p>于是便有了传闻，周五，我骑着我的小破车，到她的家楼下</p>
			<p>我也是很久之后，从tjy口中了解到</p>
			<p>曾经我和zzx说过，我的确去过，但是，我相信他绝对不会说出</p>
			<p>可是，这件事，让我对zly彻底没有了好感</p>
			<p>虽然，xyx也是很大嘴，但，他至少会“主动”承认</p>
			<p>哎，算了吧，我还是很敬重陈果的</p>
			<p>zly毕竟也和陈果走的很近</p>
			<p>我懒得因“一己私欲”而波及无辜</p>
		</div>
		<div class="Page" id='p2'>
			<p>那时候，cjj还在，但是我的日记里却很少提及他</p>
			<p>我还记得有一次，我与cjj因为纪律问题发生了一些争执</p>
			<p>那时差点忍不住出手</p>
			<p>但是，后来更搞笑的是，最后是他妈到学校来，跟我道歉</p>
			<p>我依稀记得ML对此也是好气也好笑</p>
			<br /><p>不提也罢</p><br />
			<p>第一个本子，我从2019.12.20写下第一篇，到2020.11.16写完最后一篇</p>
			<p>再看的时候，我才想起，初二开始，很对人都反对我学习编程</p>
			<p>或许是我那时确实太过了，经常熬夜，不睡觉</p>
			<p>但是，现在不一样了，他们啊，还是支持我的，ML也再没有因此被打扰过</p>
			<br />
			<p>说道这里，我很想说，我妈经常在我睡的很晚后，跟卢老师请假，而且早上不喊我</p>
			<p>搞得我只能自己起床</p>
			<p>因此，我再也不相信我妈喊我起床了</p>
			<br />
			<p>回归原主题，那个时候，用flask创建的网站就不止3个</p>
			<p>中途还改了好几次</p>
			<p>这个网站也是很艰难的从头被我写下来</p>
			<p>已经有至少10个月了吧</p>
			<br />
			<p>我那时懂的东西其实很少，对电脑也不太理解</p>
			<p>但是，我就是“明智”地把我的树梅派给买了回来（初一升二暑假）</p>
			<p>然后一直用到了今天</p>
			<p>我还想起那个时候，我对linux系统一无所知，连软件源apt都不知道是个什么</p>
			<p>但是，我现在不止是会用debian系列，fedora，centos，manjaro我都有所狩猎</p>
			<br />
			<p>确实，再看以前，我确实成长了很多</p>
			<p>我不再只是看着她，渴求这什么</p>
			<p>但现在，我明白了，缘，妙不可言，不可强求，不可强舍</p>
		</div>
	</div> <!-- Pages -->
	<div class="NextPage" id='_nl'>
		<img src="/static/images/arrow_left.bmp" alt="ArrowLeft" id='left'/>
	</div>
	<div class="NextPage" id='_nr'>
		<img src="/static/images/arrow_right.bmp" alt="ArrowRight" id='right'/>
	</div>
</div>
{% endblock %}
