body {
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0;
}

.MainPage {
	width: 10em;
	position: absolute;
	top: calc(50% - 10em);
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;

	background: tan;
	border-radius: .8em;
	/* outline: .6em solid #655; */
	box-shadow: 0 0 0 .6em #655;
	padding: 1em;
}

.MainPage a {
	font-size: 1.2em;
	color: black;
}

.Pages {
	width: 10em;
	height: 10em;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 2px dashed lightgray;
	outline: .6em solid #6552;

	overflow: hidden;

	display: flex;
	flex-flow: row nowrap;

	scroll-snap-type: x proximity;
	scroll-behavior: smooth;
}

.Page {
	width: 10em;
	height: 100%;

	scroll-snap-align: center;

	text-align: center;
	flex: none;
}

.A {
	color: blue;
	text-decoration: underline;
}
