body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.Imgs {
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	flex-flow: column nowrap;

	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

div.MainPage {
	position: absolute;
	top: calc(2vh + 10px);
	left: 2vw;
	min-width: 15vw;
	max-width: 5em;

	box-sizing: border-box;
	background: #655;
	border-radius: .5vw;
	border: 1px dashed white;
	box-shadow: 0 0 0 10px #655;

	text-align: center;
	padding: 1vh 0;
}

div.MainPage a {
	color: white;
	font-size: 1.5vw;
}

div.Img {
	width: 100vw;
	height: 100vh;

	scroll-snap-align: center;

	text-align: center;
	flex: none;
}

div.Img img {
	max-height: 100vh;
}

#I2 > a {
	text-decoration: none;

	color: blue;
}

#I2 a:visited {
	color: blue;
}
