<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name='viewport' content="width=device-width, initial-scale=1.0" />
		<title>小付付 - {% block title %}HomePage{% endblock %}</title>
		{% block scripts %}
			<script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script>
			<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		{% endblock %}
		{% block style %}
			<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="all" />
			<link rel="stylesheet" href="/static/fonts/font.css" type="text/css" media="all" />
		{% endblock %}
	</head>
	<body>
		{% block navdiv %}
		<nav class="NavUp">
			{% block navin %}
			<p class="LeftMain" onclick="Redirect.RedirectUrl('/')">Home</p>
			<div class="Lefts">
				<p class="Left" onclick="Redirect.RedirectUrl('/info')">MoreInfo</p>
				<p class="Left" onclick="Redirect.RedirectUrl('/css')">CssLearn</p>
			</div>
			{% endblock %}
		</nav>
		{% endblock %}
		<div class="content">
			{% block content %}
			<!-- Content -->
			{% endblock %}
		</div>
	</body>
</html>
